{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 150,
    "tabWidth": 4
}
