.container__latestNews {
    padding: 0 190px 0 190px;
    margin: 105px 0;

    &__title {
        font-size: 25px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    &__flex {
        display: flex;
        column-gap: 51px;

        &--img {
            flex: 50%;
            width: 558px;
            height: 458px;
            border-radius: 5px;
            background-image: url("@/assets/imgs/latestNews/latestNews.png");
            background-size: cover;
        }

        &--news {
            flex: 50%;
            margin-top: 28px;

            p {
                margin-top: 5px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: rgba(125, 125, 125, 1);
            }

            &-1 {
                display: flex;
                column-gap: 24px;
                margin-bottom: 36px;
            }

            &-2 {
                display: flex;
                column-gap: 24px;
            }
        }
    }
}
